
@{
    ViewBag.Title = "Anasayfa";
  
}

<h2>Anasayfa</h2>

<hr style="border:1px solid #ff0000" />
<p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>

<p>Consectetur adipiscing elit fusce vel.</p>
<p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>

<div class="block">
    <li><a href="">Giriş</a></li> 
        @{ 
            Html.TextBox("4");
            MvcHtmlString metin = Html.TextBox("21");           
            string ad = metin.ToString();
        }
        
<b>bakalım @ad </b>

</div>